@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
@import url("../../../index.css");

* {
    padding: 0;
    margin: 0;
    font-family: "Jersey 25", sans-serif;
}

main {

  display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    background: var(--color-purple);
    padding-bottom: 50px;

}

.mainLeft {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.mainLeft h2 {
    font-size: 46px;
    color: var(--color-light-pink);
    padding-bottom: 30px;
}

.mainLeft p {
    font-size: 40px;
    padding-bottom: 60px;
    width: 580px;
    color: var(--color-neutral-white);
    line-height: 70px;
}

.buttonMain a {
    color: var(--color-neutral-white);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.buttonMain {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-pink);
    width: 170px;
    height: 60px;
    border-radius: 30px 3px;
}

@media (max-width: 430px){
 
    main{
        flex-direction: column-reverse;
    }
    
    main img{
        width:350px ;
    }

    .mainLeft{
        align-items: center;
    }

    .mainLeft h2 {
        font-size: 30px;
       
    }

    .mainLeft p{
        text-align: center;
        font-size: 20px;
        width: 400px;
        line-height: 30px;
        padding: 0px 10px;
    }

    .buttonMain{
       margin-top: 20px;
    }


}