@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Jersey 25", sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #300136;
    height: 90px;
}

.nav-header a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.nav-header ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

header h1 {
    font-size: 50px;
    color: white;
}

header span {
    color: #FF00EE;
}
