*{
    padding: 0;
    margin: 0;
}



 .doubleCardContainer{
    display: flex;
    align-items: start;
    justify-content: center;
     box-shadow: 0 4px 12px rgba(0,0,0,0.2);
     width: 500px;
     height: 350px;
}

.doubleCard{
     flex-direction: column;
    display: flex;
 }
