@import url(../../../index.css);


.container-info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-purple);
    position: relative;
    padding: 179px 185px;
}

.content-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background-color:var(--color-white-aboutus);
    border-radius: 20px;
    width: 911px;
    padding: 89px 155px;
}

.content-info h2 {
    font-weight: bold;
    font-size: 48px;
    font-family: var(--font-family-poppins);
    color: var(--color-pink);
}

.content-info p {
    line-height: 36px;
    font-family: var(--font-family-poppins);
    font-size: 24px;
    text-align: justify;


}

.content-info img {
    position: absolute;
    left: 35vh;
    top: 5vh;
}

@media (max-width: 430px) {
   .content-info{
    text-align: center;
    width: 380px;
   }

   .content-info h2{
    font-size: 30px;
    line-height: 30px;
    width: 200px;
   }

   .content-info p{
   text-align: center;
    font-size: 18px;
    width: 300px;
   }

   .content-info img{
    left: 30vh;
    width: 200px;
   }
}