@import url("../../../index.css");

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

footer {
    display: flex;
    background-color: var(--color-purple);
    padding: 58px 130px;
    justify-content: space-between;
    align-items: center;
}

.container-footer1 {
    display: flex;
    align-items: flex-start;
    gap: 97px;
}

.list-footer-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.list-footer-content ul li {
    list-style: none;
}

.list-footer-content h2 {
    font-size: 20px;
    color: var(--color-neutral-white);
}

.list-footer-content ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.list-footer-content ul li a {
    color: var(--color-neutral-white);
    text-decoration: none;
    font-size: 14px;

}


.container-footer2 button {
    background-color: var(--color-pink);
    display: flex;
    padding: 18px 20px;
    border-radius: 10px;
    align-items: center;
    gap: 24px;
    font-size: 24px;
    color: var(--color-neutral-white);
}

@media (max-width: 430px) {

    footer {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        padding: 58px 15px;

    }

    .container-footer1 {
        flex-direction: column;
        align-items: center;
    }

    .container-footer2 button {
        width: 200px;
    }

    .list-footer-content{
        display: flex;
        align-items: center;
    }

   

    .list-footer-content ul{
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .list-footer-content ul li a {
        font-size: 20px;
    }

    .list-footer-content h2 {
        display: flex;
        justify-content: center;
        font-size: 25px;
    }

}