@import url("../../../index.css");


.enemyssection {
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 155px 166px;
    background-color: var(--color-purple);
    gap: 200px;
}

.enemyssection h2 {
    font-size: var(--font-size-h2);
    color: var(--color-neutral-white);
}

.enemyssection h2 span {
    color: var(--color-green);
}
.contaenemyiner-img-{
    display: flex;
    justify-content: center;
    gap: 150px;
}

@media (max-width: 430px){
    .enemyssection h2{
        width: 350px;
        text-align: center;
    }
    .contaenemyiner-img-{
     flex-direction: column;
    }
}